* {
    text-align: center;
    font-family: sans-serif;
    margin: 0 auto;
    font-size: 75px;
}

#display {
    margin: 50px;
}

.button {
    background-color: darkgrey;
    color: white;
    border-radius: 8px;
    height: 100px;
    width: 100px;
    padding-bottom: 30px;
}

.button :hover {
    background-color: white;
    border: 1px solid darkgrey;
    color: darkgrey;
}

input {
    border: 5px solid darkgrey;
    height: 100px;
    width: 200px;
    border-radius: 8px;
}