* {
    text-align: center;
    font-family: sans-serif;
}

#display {
    margin: 50px;
    font-size: 75px;
    font-weight: bold;
}

#functions {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

}

.button {
    background-color: darkgrey;
    color: white;
    border-radius: 8px;
    height: 100px;
    width: 100px;
    padding-bottom: 30px;
    font-size: 75px;
}

.button:hover {
    background-color: white;
    border: 1px solid darkgrey;
    color: darkgrey;
}

input {
    border: 5px solid darkgrey;
    height: 100px;
    width: 200px;
    border-radius: 8px;
    font-size: 75px;
    margin-right: 20px;
    margin-left: 20px;
}

#negative {
    color: red;
}